.realtors {
	background-color: $color-secondary;
	grid-column: col-start 7 / full-end;
	padding: 3rem;

	display: grid;
	align-content: center;
	justify-content: center;
	grid-row-gap: 2rem;
	justify-items: center;

	@media only screen and (max-width: $bp-md) {
		grid-column: 1 / -1;
		padding: 6rem;
	}

	&__list {
		display: grid;
		grid-template-columns: min-content max-content;
		grid-gap: 5vh 2rem;
		align-items: center;

		@media only screen and (max-width: $bp-md) {
			grid-template-columns: repeat(3, min-content max-content);
		}

		@media only screen and (max-width: $bp-sm) {
			grid-template-columns: min-content max-content;
		}
	}

	&__img {
		width: 7rem;
		border-radius: 50%;
		display: block;
	}

	&__sold {
		text-transform: uppercase;
		color: $color-grey-light-2;
		margin: -3px;
	}
}
